html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/Fondo.jpg');
  background-size: cover;
  min-height: 100%;
}

p {
  color: rgb(228, 228, 228);
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: .1vw;
  font-size: 2vw;
  margin: 0;
}

@media (max-width: 786px) {
    p {
      font-size: 4vw !important;
    }
}

ul {
  padding: 0;
  margin: 0;
}