html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100%;
}

h2  {
  margin: 0;
  color: rgb(228, 228, 228);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: .3vw;
  cursor: pointer;
}

h2:hover  {
  color: rgb(204, 204, 204);
  letter-spacing: .35vw;
}

p {
  color: rgb(228, 228, 228);
  text-align: center;
  font-family: 'Staatliches';
  letter-spacing: .1vw;
  font-size: 2vw;
}

@media (max-width: 786px) {
    p {
      font-size: 4vw;
    }
}

ul {
  padding: 0;
  margin: 0;
}